POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
APP_TIMEZONE=Europe/Moscow

WB_API_TOKEN=wb-test-token

GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-me\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_IDS=your-google-spreadsheet-id-1,your-google-spreadsheet-id-2
GOOGLE_SPREADSHEET_SHEET_NAME=stocks_coefs
WB_TARIFFS_SYNC_CRON=0 * * * *
WB_TARIFFS_SYNC_RUN_ON_START=true
GOOGLE_SHEETS_SYNC_CRON=*/15 * * * *
GOOGLE_SHEETS_SYNC_RUN_ON_START=true
